@import "../../../root.css";

@media (max-width: 768px){
    .HomeMainPC {
        display: none;
    }
}
@media (min-width: 767px){
    .HomeMainPC {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color: var(--textColorWhite);
        width: 100%;
    }
}

.ContainerAboutHomeMainPC {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.ContainerAboutHomeMainPC > h2 {
    font-size: var(--h2);
}

.SubContainerAboutHomeMainPC {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0rem 1rem 0rem 1rem;
    width: 100%;
    max-width: 1300px;
}
@media (max-width: 1340px) {
    .SubContainerAboutHomeMainPC {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
}

.PresentationPC {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: auto;
    max-width: 500px;
    margin: 0rem 1rem 0rem 0rem;
}
@media (max-width: 1340px) {
    .PresentationPC {
        margin: 0rem 0rem 5rem 0rem;
    }
}

.AvatarPC {
    width: 100px;
    height: 100px;
}

.AvatarPC > img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 1rem;
}

.DescriptionPC {
    font-size: var(--p);
}
@media (max-width: 251px) {
    .DescriptionPC {
        font-size: var(--h6);
    }
}

.ContainerProjetHomeMainPC {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.ContainerProjetHomeMainPC > h2 {
    font-size: var(--h2);
}

.MapProjetPC {
    display: grid;
    grid-template-columns: var(--MapProjetPC-grid-template-columns);
    grid-auto-rows: var(--MapProjet-grid-auto-rows);
    gap: var(--MapProjet-gap);
    justify-content: center;
    align-items: start;
    width: 100%;
    max-width: 100%;
}

/*Logique du bouton (Voir plus de projets) */
.ButtonHomeMainPC {
    font-size: var(--h5);
    padding: 0.3rem 2rem;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin: 2rem 0rem 1rem 0rem;
    text-decoration: none;
    transition: transform 0.3s ease, background 0.3s ease; /* Ajoute une transition fluide */
}

.ButtonHomeMainPC:hover {
    transform: scale(1.05); /* Légère mise en avant */
}

.ButtonHomeMainPC:before {
    content: "";
    background: linear-gradient(
        45deg,
        #ff0000,
        #ff7300,
        #fffb00,
        #48ff00,
        #00ffd5,
        #002bff,
        #7a00ff,
        #ff00c8,
        #ff0000
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing-ButtonHomeMainPC 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
}

@keyframes glowing-ButtonHomeMainPC {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 400% 0;
    }
    100% {
        background-position: 0 0;
    }
}

.ButtonHomeMainPC:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #222;
    left: 0;
    top: 0;
    border-radius: 10px;
}
