@import "../../../root.css";

.HomeMainMobile {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--textColorWhite);
    width: 100%;
}
@media (min-width: 768px) {
    .HomeMainMobile {
        display: none;
    }
}

.ContainerAboutHomeMainMobile {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.ContainerAboutHomeMainMobile > h2 {
    font-size: var(--h2);
}

.SubContainerAboutHomeMainMobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0rem 1rem 0rem 1rem;
    width: 100%;
    max-width: 1300px;
}
@media (max-width: 1340px) {
    .SubContainerAboutHomeMainMobile {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
}

.PresentationMobile {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: auto;
    max-width: 500px;
    margin: 0rem 1rem 0rem 0rem;
}
@media (max-width: 1340px) {
    .PresentationMobile {
        margin: 0rem 0rem 5rem 0rem;
    }
}

.AvatarMobile {
    width: 100px;
    height: 100px;
}

.AvatarMobile > img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 1rem;
}

.DescriptionMobile {
    font-size: var(--p);
}
@media (max-width: 250px) {
    .DescriptionMobile {
        font-size: var(--h6);
    }
}
@media (min-width: 250px) and (max-width: 350px) {
    .DescriptionMobile {
        font-size: var(--h6);
    }
}

.ContainerProjetHomeMainMobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.ContainerProjetHomeMainMobile > h2 {
    font-size: var(--h2);
}

.MapProjetMobile {
    display: grid;
    grid-template-columns: repeat(auto-fit, 110px); /*Largeur d'une cellule grid = 110px*/
    grid-auto-rows: 343.8px; /*Hauteur d'une cellule grid 343.8px*/
    gap: 20px; /*gap de 20px*/
    justify-content: center;
    align-items: start;
    width: 100%;
    max-width: 100%;
}
@media (max-width: 250px) {
    .MapProjetMobile {
        grid-template-columns: repeat(auto-fit, 45px); /*Largeur d'une cellule grid = 45px*/
        grid-auto-rows: 200px; /*Hauteur d'une cellule grid 200px*/
        gap: 10px; /*gap de 10px*/
    }
}
@media (min-width: 250px) and (max-width: 270px) {
    .MapProjetMobile {
        grid-template-columns: repeat(auto-fit, 50px); /*Largeur d'une cellule grid = 50px*/
        grid-auto-rows: 211.06px; /*Hauteur d'une cellule grid 211.06px*/
        gap: 10.77px; /*gap de 10.77px*/
    }
}
@media (min-width: 270px) and (max-width: 300px) {
    .MapProjetMobile {
        grid-template-columns: repeat(auto-fit, 55px); /*Largeur d'une cellule grid = 55px*/
        grid-auto-rows: 222.12px; /*Hauteur d'une cellule grid 222.12px*/
        gap: 11.54px; /*gap de 11.54px*/
    }
}
@media (min-width: 300px) and (max-width: 330px) {
    .MapProjetMobile {
        grid-template-columns: repeat(auto-fit, 60px); /*Largeur d'une cellule grid = 60px*/
        grid-auto-rows: 233.18px; /*Hauteur d'une cellule grid 233.18px*/
        gap: 12.31px; /*gap de 12.31px*/
    }
}
@media (min-width: 330px) and (max-width: 360px) {
    .MapProjetMobile {
        grid-template-columns: repeat(auto-fit, 65px); /*Largeur d'une cellule grid = 65px*/
        grid-auto-rows: 244.24px; /*Hauteur d'une cellule grid 244.24px*/
        gap: 13.08px; /*gap de 13.08px*/
    }
}
@media (min-width: 360px) and (max-width: 390px) {
    .MapProjetMobile {
        grid-template-columns: repeat(auto-fit, 70px); /*Largeur d'une cellule grid = 70px*/
        grid-auto-rows: 255.3px; /*Hauteur d'une cellule grid 255.3px*/
        gap: 13.85px; /*gap de 13.85px*/
    }
}
@media (min-width: 390px) and (max-width: 420px) {
    .MapProjetMobile {
        grid-template-columns: repeat(auto-fit, 75px); /*Largeur d'une cellule grid = 75px*/
        grid-auto-rows: 266.36px; /*Hauteur d'une cellule grid 266.36px*/
        gap: 14.62px; /*gap de 14.62px*/
    }
}

/*Logique du bouton (Voir plus de projets) */
.ButtonHomeMainMobile {
    font-size: var(--h5);
    padding: 0.3rem 2rem;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin: 2rem 0rem 1rem 0rem;
    text-decoration: none;
    transition: transform 0.3s ease, background 0.3s ease; /* Ajoute une transition fluide */
}
@media (max-width: 250px) {
    .ButtonHomeMainMobile {
        font-size: calc(var(--h6) - 2px);
        padding: 0.1rem 0.5rem;
    }
}

.ButtonHomeMainMobile:hover {
    transform: scale(1.05); /* Légère mise en avant */
}

.ButtonHomeMainMobile:before {
    content: "";
    background: linear-gradient(
        45deg,
        #ff0000,
        #ff7300,
        #fffb00,
        #48ff00,
        #00ffd5,
        #002bff,
        #7a00ff,
        #ff00c8,
        #ff0000
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing-ButtonHomeMainMobile 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
}

@keyframes glowing-ButtonHomeMainMobile {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 400% 0;
    }
    100% {
        background-position: 0 0;
    }
}

.ButtonHomeMainMobile:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #222;
    left: 0;
    top: 0;
    border-radius: 10px;
}