:root {
    --menuBurger: #e8e8e8;
    --textColorMenu: #818181;
}

/*Bouttons language drapeaux*/

.languageFR, .languageEN {
    width: 3rem;
    height: 3rem;
    margin: 0rem 1rem;
}

.languageFR>img, .languageEN>img {
    max-width: 100%;
    max-height: 100%;
}

/*Style de la nav desktop*/

.nav-desktop {
    @media (max-width: 768px) {
        display: none;
    }
}

.nav-desktop>section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.nav-desktop>.frontiereNav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/*Pour les drapeaux*/
.nav-desktop>.frontiereNav>section {
    display: flex;
    justify-content: space-around;
}

.nav-desktop>.frontiereNav>ul {
    display: flex;
    justify-content: space-between;
}

.nav-desktop>.frontiereNav>ul>li {

    @media (min-width: 768px) {
     list-style: none;
     margin: 2em;
    }
 }

.nav-desktop>.frontiereNav>ul>li>a {
    text-decoration: none;
 }

/*Style Menu Burger*/

.nav-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    @media (min-width: 768px) {
        display: none;
    }
}

#Autor {
    animation: flip 2s infinite;
    margin-bottom: 0.5rem;
}

@keyframes flip {
    0%, 100% {
        transform: rotateX(0deg);
    }
    50% {
        transform: rotateX(180deg);
    }
}

.nav-mobile>h3 {
    margin-top: 0.5rem;
    margin-bottom: 1.25rem;
}

.sideNav {
    width: 250px;
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    right: -250px;
    background-color: var(--menuBurger);
    transition: right 0.5s ease;
}


.sideNav>div {
    display: flex;
    justify-content: start;
    padding: 0rem 0rem 3rem 0rem;

}

.sideNav>div>.close {
    margin: 1rem 0rem 0rem 1rem;
    padding: 0.4rem 1rem 0.4rem 1rem;
    text-decoration: none;
    text-align: center;
    font-size: 2rem;
    font-weight: normal;
    display: block;
    transition: 0.3s;
    color: black;
    border-radius: 3rem;
    background-color: #e2e2e2;
}

.sideNav>div>.close:hover {
    background-color: rgb(255, 142, 142);
}

.sideNav>a:hover {
    background-color: rgb(175, 178, 181);
}

.sideNav>.menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    list-style-type: none;
    padding: 0;
    margin: 0px 0px 0px 2rem;
}

.sideNav>.menu>li {
    margin: 0.5rem 0rem 0.5rem 0rem;
}

.sideNav>.menu>li>a {
    text-decoration: none;
}

.sideNav>section {
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 2rem 0rem 0rem 0rem;
}

.sideNav.active {
    right: 0;
}

.sideNav>.close {
    position: absolute;
    top: 0;
    left: 25px;
    font-size: 36px;
}

#openBtn {
    position: fixed;
    top: 0.5rem;
    right: 0.5rem;
}

.menuBurger>span {
    display: block;
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 0.5rem 0rem;
}
