:root {
    --menuBurger: #e8e8e8;
    --textColorMenu: #818181;
}

/*Style de la nav desktop*/

/*nav-desktop*/

.nav-desktop {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 768px) {
        display: none;
    }
}

.nav-desktop>section {
    display: flex;
    justify-content: space-around;
}

.nav-desktop>ul {
    display: flex;
    justify-content: space-between;
}

.nav-desktop>ul>li {

    @media (min-width: 768px) {
     list-style: none;
     margin: 2em;
    }
 }

.nav-desktop>ul>li>a {
    text-decoration: none;
 }

/*Style Menu Burger*/

.nav-mobile {
    display: flex;
    justify-content: end;
    @media (min-width: 768px) {
        display: none;
    }
}

.sideNav {
    width: 250px;
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    right: -250px;
    background-color: var(--menuBurger);
    transition: right 0.5s ease;
}


.sideNav>div {
    display: flex;
    justify-content: start;
    padding: 0rem 0rem 3rem 0rem;

}

.sideNav>div>.close {
    margin: 1rem 0rem 0rem 1rem;
    padding: 0.4rem 1rem 0.4rem 1rem;
    text-decoration: none;
    text-align: center;
    font-size: 2rem;
    display: block;
    transition: 0.3s;
    color: black;
    border-radius: 3rem;
    background-color: red;
}

.sideNav>a:hover {
    background-color: rgb(175, 178, 181);
}

.sideNav>.menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    list-style-type: none;
    padding: 0;
    margin: 0px 0px 0px 2rem;
}

.sideNav>.menu>li {
    margin: 0.5rem 0rem 0.5rem 0rem;
}

.sideNav>.menu>li>a {
    text-decoration: none;
}

.sideNav.active {
    right: 0;
}

.sideNav>.close {
    position: absolute;
    top: 0;
    left: 25px;
    font-size: 36px;
}

.menuBurger>span {
    display: block;
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 0.5rem 0rem;
}

