@import "../../../root.css";

.NavPC {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: var(--textColorWhite);
    @media (max-width: 768px) {
        display: none;
    }
}

/*-----------------------------------------------*/

.NavPC > .NavTopPC {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.NavPC > .NavTopPC > section {
    display: flex;
    justify-content: space-around;
}

/*-----------------------------------------------*/

.NavPC > .NavBottomPC {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.NavPC > .NavBottomPC > a {
    color: inherit;
    text-decoration: none;
}

.NavBottomPC > a > h1 {
    font-size: var(--h1);
}

.NavBottomPC > h3 {
    font-size: var(--h3);
}