@import "../../../root.css";

.FooterMobile {
    /*Le code de cette balise ne sert a rien pour le moment*/
    display: flex;
    justify-content: start;
    align-items: center;
}
@media (min-width: 769px) {
    .FooterMobile {
        display: none;
    }
}

.CopyrightMobile {
    font-size: var(--h5);
    color: var(--textColorWhite);
}

.DateLogMobile {
    font-size: var(--h5);
    color: var(--Copyright);
}