@import "../../../root.css";

/*Version mobile style CSS module*/
.ContainerCardProjetRootMobile {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    grid-column: span 2;
    border-radius: 1rem;
    width: 240px;
    height: 343.8px;
    background-color: var(--BackgroundCardProjet);
    margin: auto;
    transition: all 0.3s ease;
}
@media (max-width: 250px) {
    .ContainerCardProjetRootMobile {
        width: 100px;
        height: 200px;
    }
}
@media (min-width: 250px) and (max-width: 270px) {
    .ContainerCardProjetRootMobile {
        width: 110.77px;
        height: 211.06px;
    }
}
@media (min-width: 270px) and (max-width: 300px) {
    .ContainerCardProjetRootMobile {
        width: 121.54px;
        height: 222.12px;
    }
}
@media (min-width: 300px) and (max-width: 330px) {
    .ContainerCardProjetRootMobile {
        width: 132.31px;
        height: 233.18px;
    }
}
@media (min-width: 330px) and (max-width: 360px) {
    .ContainerCardProjetRootMobile {
        width: 143.08px;
        height: 244.24px;
    }
}

.CardProjetImgMobile {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 100%;
    max-height: auto;
}

.CardProjetImgMobile > img {
    width: var(--Width-ImgCardProjet-Root); /*240px*/
    height: var(--Height-ImgCardProjet-Root); /*240px*/
    max-width: 100%;
    border-radius: 1rem 1rem 0.5rem 0.5rem;
    object-fit: contain;
}
@media (max-width: 251px) {
    .CardProjetImgMobile > img {
        width: var(--Width-ImgCardProjet-Media250px); /*100px*/
        height: var(--Width-ImgCardProjet-Media250px); /*100px*/
    }
}

.ContainerCardProjetInfoMobile {
    display: flex;
    align-items: start;
    justify-content: space-between;
    margin: 1rem 1rem 1rem 1rem;
    width: calc(100% - 2rem);
    max-width: 100%;
}
@media (max-width: 251px) {
    .ContainerCardProjetInfoMobile {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 0.5rem 1rem 1rem 1rem;
    }
}

.TitleCardProjetMobile {
    margin: 0rem 0rem 0rem 0rem;
    font-size: var(--h3);
    color: var(--textColorWhite);
}
@media (max-width: 251px) {
    .TitleCardProjetMobile {
        font-size: var(--h6);
    }
}

.YearCardProjetMobile {
    margin: 0rem 0rem 0rem 0rem;
    font-size: var(--h5);
    color: var(--textColorWhite);
}
@media (max-width: 251px) {
    .YearCardProjetMobile {
        font-size: calc(var(--h6) - 2px); /*9px*/
    }
}

.ButtonCardProjetMobile {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0rem 0rem 0.5rem 0rem;
}

@keyframes gradientMove {
    0% { background-position: 0% 50%; }
    100% { background-position: 100% 50%; }
}

.ButtonCardProjetMobile > button {
    background: linear-gradient(
        90deg,
        red,
        orange,
        yellow,
        green,
        blue,
        indigo,
        violet,
        red,
        orange,
        yellow
    ); /* Dégradé avec plus de couleurs pour lisser les transitions */
    background-size: 400% 400%; /* Taille étendue pour un effet plus subtil */
    -webkit-background-clip: text; /* Applique le dégradé au texte pour WebKit */
    background-clip: text; /* Applique le dégradé au texte pour les navigateurs modernes */
    -webkit-text-fill-color: transparent; /* Rend le texte transparent pour afficher le dégradé */
    font-size: var(--h4); /* Taille de la police */
    cursor: pointer; /* Curseur de clic */
    padding: 0.5rem 1rem; /* Ajoute un espace intérieur */
    margin: 0;
    border: none; /* Supprime les contours */
    outline: none; /* Supprime le focus par défaut */
    font-family: inherit; /* Hérite de la police parente */
    text-decoration: none; /* Supprime tout soulignement */
    transition: transform 0.3s ease; /* Transition douce pour l'agrandissement */
    animation: gradientMove 6s linear infinite; /* Animation fluide et continue */
}
@media (max-width: 251px) {
    .ButtonCardProjetMobile > button {
        font-size: var(--h6);
    }
}

.ButtonCardProjetMobile > button:hover {
    transform: scale(1.1); /* Légère mise en avant au survol */
}


/*--------------------------------------------------------*/
/*Face arrière de la card*/
.ContainerSubCardProjetRootMobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    grid-column: var(--GridColumnFaceAfter); /*span 4*/
    border-radius: 1rem;
    width: var(--WidthFaceAfter-Origin); /*500px*/
    height: var(--HeightFaceAfter-Origin); /*343.8px*/
    background-color: var(--BackgroundCardProjet);
    margin: auto;
    transition: all 0.3s ease;
}
@media (max-width: 251px) {
    .ContainerSubCardProjetRootMobile {
        grid-column: var(--GridColumnFaceAfter); /*span 4*/
        width: var(--WidthFaceAfter-Media250px); /*Largeur d'une CardProjet = 210px*/
        height: var(--HeightFaceAfter-Media250px); /*Hauteur d'une CardProjet = 193.5px*/
    }
}

.SubContainerSubCardProjetRootMobile {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    width: var(--WidthFaceAfter-Origin); /*Largeur d'une CardProjet = 500px*/
}
@media (max-width: 251px) {
    .SubContainerSubCardProjetRootMobile {
        width: var(--WidthFaceAfter-Media250px); /*Largeur d'une CardProjet = 210px*/
    }
}

.LienProdTitleMobile {
    text-decoration: none;
    transition: transform 0.5s ease, text-decoration 0.3s ease;
}
.LienProdTitleMobile:hover {
    text-decoration: underline;
    transform: scale(1.1);
}

.TitleSubCardProjetMobile {
    margin: 0.5rem 0rem 0rem 0rem;
    font-size: var(--h2);
    color: var(--TitleCardProjet);
}
@media (max-width: 251px) {
    .TitleSubCardProjetMobile {
        font-size: var(--h5);
    }
}

.ContainerSubCardProjetInfoMobile {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    width: calc(100% - 1rem); /*Attention, dépend de la valeur margin qui doit être = */
    margin: 0.5rem 0rem 0rem 0.5rem;
}
@media (max-width: 251px) {
    .ContainerSubCardProjetInfoMobile {
        margin: 0.2rem 0rem 0rem 0rem;
    }
}

.DateSubCardProjetMobile {
    font-size: var(--p);
    margin: 0.5rem 0rem 0rem 0rem;
}
@media (max-width: 251px) {
    .DateSubCardProjetMobile {
        font-size: var(--h6);
    }
}

.DescriptionSubCardProjetMobile {
    margin: 1rem 0rem 0rem 0rem;
    font-size: var(--p);
}
@media (max-width: 251px) {
    .DescriptionSubCardProjetMobile {
        font-size: calc(var(--h6) - 2px);
        margin: 0.5rem 0rem 0rem 0rem;
    }
}

.LienProdMobile {
    margin: 0.3rem 0rem 0.5rem 0rem;
    text-decoration: none;
    color: var(--LienProjet);
    font-size: var(--p);
}
@media (max-width: 251px) {
    .LienProdMobile {
        font-size: var(--h6);
        margin: 0.3rem 0rem 0rem 0rem;
    }
}

.LienProdPC:hover {
    color: var(--LienProjetHover);
    text-decoration: underline;
}

.ImgLangageDevMobile {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5rem 0rem 0.3rem 0rem;
    width: 100%;
    max-width: 100%;
    max-height: auto;
}

.ImgLangageDevMobile > img {
    margin: 0rem 0.2rem 0rem 0.2rem;
    width: 35px;
    height: 35px;
    object-fit: contain;
}
@media (max-width: 251px) {
    .ImgLangageDevMobile > img {
        width: 15px;
        height: 15px;
    }
}

@keyframes gradientMove {
    0% { background-position: 0% 50%; }
    100% { background-position: 100% 50%; }
}

.ContainerSubCardProjetRootMobile > button {
    background: linear-gradient(
        90deg,
        red,
        orange,
        yellow,
        green,
        blue,
        indigo,
        violet,
        red,
        orange,
        yellow
    ); /* Dégradé avec plus de couleurs pour lisser les transitions */
    background-size: 400% 400%; /* Taille étendue pour un effet plus subtil */
    -webkit-background-clip: text; /* Applique le dégradé au texte pour WebKit */
    background-clip: text; /* Applique le dégradé au texte pour les navigateurs modernes */
    -webkit-text-fill-color: transparent; /* Rend le texte transparent pour afficher le dégradé */
    font-size: var(--h4); /* Taille de la police */
    cursor: pointer; /* Curseur de clic */
    padding: 0.5rem 1rem; /* Ajoute un espace intérieur */
    margin: 0;
    border: none; /* Supprime les contours */
    outline: none; /* Supprime le focus par défaut */
    font-family: inherit; /* Hérite de la police parente */
    text-decoration: none; /* Supprime tout soulignement */
    transition: transform 0.3s ease; /* Transition douce pour l'agrandissement */
    animation: gradientMove 6s linear infinite; /* Animation fluide et continue */
}
@media (max-width: 251px) {
    .ContainerSubCardProjetRootMobile > button {
        font-size: var(--h6);
    }
}

.ContainerSubCardProjetRootMobile > button:hover {
    transform: scale(1.1); /* Légère mise en avant au survol */
}

/*-------------------------------------------------------------------------------------*/
/*Version PC style CSS module*/
.ContainerCardProjetRootPC {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    grid-column: var(--GridColumnFaceBefore);
    border-radius: 1rem;
    width: var(--WidthFaceBefore-Origin);
    height: var(--HeightFaceBefore-Origin);
    background-color: var(--BackgroundCardProjet);
    margin: auto;
    transition: all 0.3s ease;
}

.CardProjetImgPC {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 100%;
    max-height: auto;
}

.CardProjetImgPC > img {
    width: 240px;
    height: 240px;
    max-width: 100%;
    border-radius: 1rem 1rem 0.5rem 0.5rem;
    object-fit: contain;
}

.ContainerCardProjetInfoPC {
    display: flex;
    align-items: start;
    justify-content: space-between;
    margin: 1rem 1rem 1rem 1rem;
    width: calc(100% - 2rem);
    max-width: 100%;
}

.TitleCardProjetPC {
    margin: 0rem 0rem 0rem 0rem;
    font-size: var(--h3);
    color: var(--textColorWhite);
}

.YearCardProjetPC {
    margin: 0rem 0rem 0rem 0rem;
    font-size: var(--h5);
    color: var(--textColorWhite);
}

.ButtonCardProjetPC {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0rem 0rem 0.5rem 0rem;
}

@keyframes gradientMove {
    0% { background-position: 0% 50%; }
    100% { background-position: 100% 50%; }
}

.ButtonCardProjetPC > button {
    background: linear-gradient(
        90deg,
        red,
        orange,
        yellow,
        green,
        blue,
        indigo,
        violet,
        red,
        orange,
        yellow
    ); /* Dégradé avec plus de couleurs pour lisser les transitions */
    background-size: 400% 400%; /* Taille étendue pour un effet plus subtil */
    -webkit-background-clip: text; /* Applique le dégradé au texte pour WebKit */
    background-clip: text; /* Applique le dégradé au texte pour les navigateurs modernes */
    -webkit-text-fill-color: transparent; /* Rend le texte transparent pour afficher le dégradé */
    font-size: var(--h4); /* Taille de la police */
    cursor: pointer; /* Curseur de clic */
    padding: 0.5rem 1rem; /* Ajoute un espace intérieur */
    margin: 0;
    border: none; /* Supprime les contours */
    outline: none; /* Supprime le focus par défaut */
    font-family: inherit; /* Hérite de la police parente */
    text-decoration: none; /* Supprime tout soulignement */
    transition: transform 0.3s ease; /* Transition douce pour l'agrandissement */
    animation: gradientMove 6s linear infinite; /* Animation fluide et continue */
}

.ButtonCardProjetPC > button:hover {
    transform: scale(1.1); /* Légère mise en avant au survol */
}




/*--------------------------------------------------------*/
/*Face arrière de la card*/
.ContainerSubCardProjetRootPC {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    grid-column: var(--GridColumnFaceAfter);
    border-radius: 1rem;
    width: var(--WidthFaceAfter-Origin); /*500px*/
    height: var(--HeightFaceAfter-Origin); /*343.8px*/
    background-color: var(--BackgroundCardProjet);
    margin: auto;
    transition: all 0.3s ease;
}

.SubContainerSubCardProjetRootPC {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    width: var(--WidthFaceAfter);
}

.LienProdTitlePC {
    text-decoration: none;
    transition: transform 0.5s ease, text-decoration 0.3s ease;
}
.LienProdTitlePC:hover {
    text-decoration: underline;
    transform: scale(1.1);
}

.TitleSubCardProjetPC {
    margin: 0.5rem 0rem 0rem 0rem;
    font-size: var(--h2);
    color: var(--TitleCardProjet);
}

.ContainerSubCardProjetInfoPC {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    width: calc(100% - 1rem); /*Attention, dépend de la valeur margin qui doit être = */
    margin: 0.5rem 0rem 0rem 0.5rem;
}

.DateSubCardProjetPC {
    font-size: var(--p);
    margin: 0.5rem 0rem 0rem 0rem;
}

.DescriptionSubCardProjetPC {
    margin: 1rem 0rem 0rem 0rem;
    font-size: var(--p);
}

.ImgLangageDevPC {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5rem 0rem 0.3rem 0rem;
    width: 100%;
    max-width: 100%;
    max-height: auto;
}

.LienProdPC {
    margin: 0.3rem 0rem 0.5rem 0rem;
    text-decoration: none;
    color: var(--LienProjet);
    font-size: var(--p);
}

.LienProdPC:hover {
    color: var(--LienProjetHover);
    text-decoration: underline;
}

.ImgLangageDevPC > img {
    margin: 0rem 0.2rem 0rem 0.2rem;
    width: 35px;
    height: 35px;
    object-fit: contain;
}

@keyframes gradientMove {
    0% { background-position: 0% 50%; }
    100% { background-position: 100% 50%; }
}

.ContainerSubCardProjetRootPC > button {
    background: linear-gradient(
        90deg,
        red,
        orange,
        yellow,
        green,
        blue,
        indigo,
        violet,
        red,
        orange,
        yellow
    ); /* Dégradé avec plus de couleurs pour lisser les transitions */
    background-size: 400% 400%; /* Taille étendue pour un effet plus subtil */
    -webkit-background-clip: text; /* Applique le dégradé au texte pour WebKit */
    background-clip: text; /* Applique le dégradé au texte pour les navigateurs modernes */
    -webkit-text-fill-color: transparent; /* Rend le texte transparent pour afficher le dégradé */
    font-size: var(--h4); /* Taille de la police */
    cursor: pointer; /* Curseur de clic */
    padding: 0.5rem 1rem; /* Ajoute un espace intérieur */
    margin: 0;
    border: none; /* Supprime les contours */
    outline: none; /* Supprime le focus par défaut */
    font-family: inherit; /* Hérite de la police parente */
    text-decoration: none; /* Supprime tout soulignement */
    transition: transform 0.3s ease; /* Transition douce pour l'agrandissement */
    animation: gradientMove 6s linear infinite; /* Animation fluide et continue */
}

.ContainerSubCardProjetRootPC > button:hover {
    transform: scale(1.1); /* Légère mise en avant au survol */
}