/*Configuration :
background-image: ;
background-blend-mode: ;
*/
:root {
    --light-fire: linear-gradient(
         90deg,
         rgb(237, 237, 237),
         rgb(236, 236, 236)
         ),
     linear-gradient(
         135deg,
         rgb(163, 125, 62) 0%,
         rgb(163, 125, 62) 22%,
         rgb(149, 100, 59) 22%,
         rgb(149, 100, 59) 32%,
         rgb(134, 75, 56) 32%,
         rgb(134, 75, 56) 37%,
         rgb(120, 50, 53) 37%,
         rgb(120, 50, 53) 51%,
         rgb(105, 25, 50) 51%,
         rgb(105, 25, 50) 55%,
         rgb(91, 0, 47) 55%,
         rgb(91, 0, 47) 100%
         ),
     linear-gradient(
         112.5deg,
         rgb(163, 125, 62) 0%,
         rgb(163, 125, 62) 22%,
         rgb(149, 100, 59) 22%,
         rgb(149, 100, 59) 32%,
         rgb(134, 75, 56) 32%,
         rgb(134, 75, 56) 37%,
         rgb(120, 50, 53) 37%,
         rgb(120, 50, 53) 51%,
         rgb(105, 25, 50) 51%,
         rgb(105, 25, 50) 55%,
         rgb(91, 0, 47) 55%,
         rgb(91, 0, 47) 100%
         ),
     linear-gradient(
         90deg,
         rgb(163, 125, 62) 0%,
         rgb(163, 125, 62) 22%,
         rgb(149, 100, 59) 22%,
         rgb(149, 100, 59) 32%,
         rgb(134, 75, 56) 32%,
         rgb(134, 75, 56) 37%,
         rgb(120, 50, 53) 37%,
         rgb(120, 50, 53) 51%,
         rgb(105, 25, 50) 51%,
         rgb(105, 25, 50) 55%,
         rgb(91, 0, 47) 55%,
         rgb(91, 0, 47) 100%
         );
    --mode-fire: overlay, overlay, overlay, normal;

    --light-ice: linear-gradient(
         155deg, 
         rgb(229, 176, 124) 0%, 
         rgb(229, 176, 124) 41%,
         rgb(198, 157, 133) 41%, 
         rgb(198, 157, 133) 42%,
         rgb(167, 139, 142) 42%, 
         rgb(167, 139, 142) 44%,
         rgb(136, 120, 151) 44%, 
         rgb(136, 120, 151) 45%,
         rgb(105, 101, 159) 45%, 
         rgb(105, 101, 159) 61%,
         rgb(74, 83, 168) 61%, 
         rgb(74, 83, 168) 78%,
         rgb(43, 64, 177) 78%, 
         rgb(43, 64, 177) 100%
         ),
     linear-gradient(
         322deg, 
         rgb(229, 176, 124) 0%, 
         rgb(229, 176, 124) 41%,
         rgb(198, 157, 133) 41%, 
         rgb(198, 157, 133) 42%,
         rgb(167, 139, 142) 42%, 
         rgb(167, 139, 142) 44%,
         rgb(136, 120, 151) 44%, 
         rgb(136, 120, 151) 45%,
         rgb(105, 101, 159) 45%, 
         rgb(105, 101, 159) 61%,
         rgb(74, 83, 168) 61%, 
         rgb(74, 83, 168) 78%,
         rgb(43, 64, 177) 78%, 
         rgb(43, 64, 177) 100%
         ),
     linear-gradient(
         33deg, 
         rgb(229, 176, 124) 0%, 
         rgb(229, 176, 124) 41%,
         rgb(198, 157, 133) 41%, 
         rgb(198, 157, 133) 42%,
         rgb(167, 139, 142) 42%, 
         rgb(167, 139, 142) 44%,
         rgb(136, 120, 151) 44%, 
         rgb(136, 120, 151) 45%,
         rgb(105, 101, 159) 45%, 
         rgb(105, 101, 159) 61%,
         rgb(74, 83, 168) 61%, 
         rgb(74, 83, 168) 78%,
         rgb(43, 64, 177) 78%, 
         rgb(43, 64, 177) 100%
         ),
     linear-gradient(
         315deg, 
         rgb(229, 176, 124) 0%, 
         rgb(229, 176, 124) 41%,
         rgb(198, 157, 133) 41%, 
         rgb(198, 157, 133) 42%,
         rgb(167, 139, 142) 42%, 
         rgb(167, 139, 142) 44%,
         rgb(136, 120, 151) 44%, 
         rgb(136, 120, 151) 45%,
         rgb(105, 101, 159) 45%, 
         rgb(105, 101, 159) 61%,
         rgb(74, 83, 168) 61%, 
         rgb(74, 83, 168) 78%,
         rgb(43, 64, 177) 78%, 
         rgb(43, 64, 177) 100%
         ),
     linear-gradient(
         41deg, 
         rgb(229, 176, 124) 0%, 
         rgb(229, 176, 124) 41%,
         rgb(198, 157, 133) 41%, 
         rgb(198, 157, 133) 42%,
         rgb(167, 139, 142) 42%, 
         rgb(167, 139, 142) 44%,
         rgb(136, 120, 151) 44%, 
         rgb(136, 120, 151) 45%,
         rgb(105, 101, 159) 45%, 
         rgb(105, 101, 159) 61%,
         rgb(74, 83, 168) 61%, 
         rgb(74, 83, 168) 78%,
         rgb(43, 64, 177) 78%, 
         rgb(43, 64, 177) 100%
         ),
     linear-gradient(
         90deg, 
         rgb(192, 100, 79),
         rgb(56, 158, 172)
         );
    --mode-ice: overlay, overlay, overlay, normal;
         
    --light-love: linear-gradient(
         135deg, 
         rgb(235, 235, 235),
         rgb(226, 226, 226)
         ),
     linear-gradient(
         112.5deg, 
         rgb(184, 140, 164) 0%, 
         rgb(184, 140, 164) 38%,
         rgb(193, 123, 178) 38%, 
         rgb(193, 123, 178) 51%,
         rgb(202, 106, 192) 51%, 
         rgb(202, 106, 192) 68%,
         rgb(212, 89, 207) 68%, 
         rgb(212, 89, 207) 71%,
         rgb(221, 72, 221) 71%, 
         rgb(221, 72, 221) 80%,
         rgb(230, 55, 235) 80%, 
         rgb(230, 55, 235) 100%),
     linear-gradient(
         157.5deg, 
         rgb(184, 140, 164) 0%, 
         rgb(184, 140, 164) 38%,
         rgb(193, 123, 178) 38%, 
         rgb(193, 123, 178) 51%,
         rgb(202, 106, 192) 51%, 
         rgb(202, 106, 192) 68%,
         rgb(212, 89, 207) 68%, 
         rgb(212, 89, 207) 71%,
         rgb(221, 72, 221) 71%, 
         rgb(221, 72, 221) 80%,
         rgb(230, 55, 235) 80%, 
         rgb(230, 55, 235) 100%);
    --mode-love: overlay,overlay,normal;

    --light-white: linear-gradient(
         112.5deg, 
         rgb(214, 214, 214) 0%, 
         rgb(214, 214, 214) 10%,
         rgb(195, 195, 195) 10%, 
         rgb(195, 195, 195) 53%,
         rgb(176, 176, 176) 53%, 
         rgb(176, 176, 176) 55%,
         rgb(157, 157, 157) 55%, 
         rgb(157, 157, 157) 60%,
         rgb(137, 137, 137) 60%, 
         rgb(137, 137, 137) 88%,
         rgb(118, 118, 118) 88%, 
         rgb(118, 118, 118) 91%,
         rgb(99, 99, 99) 91%, 
         rgb(99, 99, 99) 100%
         ),
     linear-gradient(
         157.5deg, 
         rgb(214, 214, 214) 0%, 
         rgb(214, 214, 214) 10%,
         rgb(195, 195, 195) 10%, 
         rgb(195, 195, 195) 53%,
         rgb(176, 176, 176) 53%, 
         rgb(176, 176, 176) 55%,
         rgb(157, 157, 157) 55%, 
         rgb(157, 157, 157) 60%,
         rgb(137, 137, 137) 60%, 
         rgb(137, 137, 137) 88%,
         rgb(118, 118, 118) 88%, 
         rgb(118, 118, 118) 91%,
         rgb(99, 99, 99) 91%, 
         rgb(99, 99, 99) 100%
         ),
     linear-gradient(
         135deg, 
         rgb(214, 214, 214) 0%, 
         rgb(214, 214, 214) 10%,
         rgb(195, 195, 195) 10%, 
         rgb(195, 195, 195) 53%,
         rgb(176, 176, 176) 53%, 
         rgb(176, 176, 176) 55%,
         rgb(157, 157, 157) 55%, 
         rgb(157, 157, 157) 60%,
         rgb(137, 137, 137) 60%, 
         rgb(137, 137, 137) 88%,
         rgb(118, 118, 118) 88%, 
         rgb(118, 118, 118) 91%,
         rgb(99, 99, 99) 91%, 
         rgb(99, 99, 99) 100%
         ),
     linear-gradient(
         90deg, 
         rgb(195, 195, 195),
         rgb(228, 228, 228)); 
    --mode-white: overlay,overlay,overlay,normal;

    --light-gray: linear-gradient(
         112.5deg, 
        rgb(214, 214, 214) 0%, 
        rgb(214, 214, 214) 10%,
        rgb(195, 195, 195) 10%, 
        rgb(195, 195, 195) 53%,
        rgb(176, 176, 176) 53%, 
        rgb(176, 176, 176) 55%,
        rgb(157, 157, 157) 55%, 
        rgb(157, 157, 157) 60%,
        rgb(137, 137, 137) 60%, 
        rgb(137, 137, 137) 88%,
        rgb(118, 118, 118) 88%, 
        rgb(118, 118, 118) 91%,
        rgb(99, 99, 99) 91%, 
        rgb(99, 99, 99) 100%
        ),
     linear-gradient(
         157.5deg, 
         rgb(214, 214, 214) 0%, 
         rgb(214, 214, 214) 10%,
         rgb(195, 195, 195) 10%, 
         rgb(195, 195, 195) 53%,
         rgb(176, 176, 176) 53%, 
         rgb(176, 176, 176) 55%,
         rgb(157, 157, 157) 55%, 
         rgb(157, 157, 157) 60%,
         rgb(137, 137, 137) 60%, 
         rgb(137, 137, 137) 88%,
         rgb(118, 118, 118) 88%, 
         rgb(118, 118, 118) 91%,
         rgb(99, 99, 99) 91%, 
         rgb(99, 99, 99) 100%
         ),
     linear-gradient(
         135deg, 
         rgb(214, 214, 214) 0%, 
         rgb(214, 214, 214) 10%,
         rgb(195, 195, 195) 10%, 
         rgb(195, 195, 195) 53%,
         rgb(176, 176, 176) 53%, 
         rgb(176, 176, 176) 55%,
         rgb(157, 157, 157) 55%, 
         rgb(157, 157, 157) 60%,
         rgb(137, 137, 137) 60%, 
         rgb(137, 137, 137) 88%,
         rgb(118, 118, 118) 88%, 
         rgb(118, 118, 118) 91%,
         rgb(99, 99, 99) 91%, 
         rgb(99, 99, 99) 100%
         ),
     linear-gradient(
         90deg, 
         rgb(195, 195, 195),
         rgb(228, 228, 228)); 
         --mode-gray: overlay,overlay,overlay,normal;
  }

  /*https://www.gradientmagic.com/*/