@import "./assets/Fonts/Roboto/RobotoStyleSheet.css";

:root {
     /*Couleur des textes*/
         /*Couleur des textes général*/
             --backgroundBlack: black;
             --backgroundWhite: white;

         /*Couleur des textes du Footer*/
             --Copyright: #ff007f;

     /*Backgound du site*/
         /*Backgound du général*/
             --textColorBlack: black;
             --textColorWhite: white;

         /*Background du Menu Burger*/
             --BackgroudMenuBurger: #A9CCE3;
             --textColorMenu: #818181;



    --BackgroundCardProjet: #080808;

     /*Logique taille police d'écriture site*/
         --font-size-root: 16px; /*Ref size, dimensionne tout le site*/
         --p: var(--font-size-root); /*16px*/
         --h1: calc(var(--font-size-root) * 2); /*32px*/
         --h2: calc(var(--font-size-root) * 1.5); /*24px*/
         --h3: calc(var(--font-size-root) + 2px); /*18px*/
         --h4: var(--font-size-root); /*16px*/
         --h5: calc(var(--font-size-root) - 2px); /*14px*/
         --h6: calc(var(--font-size-root) - 5px); /*11px*/


     /*Logique des CardProjet*/

         /* 1) Dimension des container CardProjet*/
             /*MapProjetRoot*/ /*ClassName présent dans les composants HomeMain PC et Mobile*/
                 --MapProjetRoot-grid-auto-rows-Origin: 343.8px;
                 --MapProjetRoot-grid-auto-rows-Media250px: 193.5px;
                 --Width-ImgCardProjet-Root: 240px;
                 --Height-ImgCardProjet-Root: 240px;

                 /*MapProjetPC*/
                     /*Origin*/
                         --MapProjetPC-grid-template-columns-Origin: repeat(auto-fit, 110px);
                         --MapProjetPC-gap-Origin: 20px;
                    
                     /*Media???px*/
                 
                 /*MapProjetMobile*/
                     /*Origin*/
                         --MapProjetMobile-grid-template-columns-Origin: repeat(auto-fit, 110px);
                         --MapProjetMobile-gap-Origin: 20px;

                     /*Media250px*/
                         --MapProjetMobile-grid-template-columns-Media250px: repeat(auto-fit, 45px);
                         --MapProjetMobile-gap-Media250px: 10px;
                         --Width-ImgCardProjet-Media250px: 100px;
                         --Height-ImgCardProjet-Media250px: 100px;

         /* 2) Dimension des cards*/
             /*Face avant (Before)*/
                 --GridColumnFaceBefore: span 2;

                 /*Origin*/
                     --WidthFaceBefore-Origin: 240px;
                     --HeightFaceBefore-Origin: 343.8px;

                 /*Media250px*/
                     --WidthFaceBefore-Media250px: 105px;
                     --HeightFaceBefore-Media250px: 193.5px;


             /*Face Arrière (After)*/
                 --GridColumnFaceAfter: span 4;
                 --WidthFaceAfter: 500px;
                 --HeightFaceAfter: 343.8px;

         /* 3) Couleur du Text des CardProjet*/
             /*Couleur titre du projet*/
                 --TitleCardProjet: rgb(138, 43, 226);
                
             /*Couleur lien vers projet*/
                 --LienProjet: #007BFF;
                 --LienProjetHover: #0056b3;
}

body {
    font-family: 'Roboto', sans-serif; /* Police Roboto */
    font-size: 16px; /* Taille de la police */
    line-height: 1.6; /* Espacement entre les lignes pour lisibilité */
    margin: 0;
    padding: 20px; /* Encadre un espace minimum sur le site*/
    /*text-align: justify; 
    /*ligne le texte en ajustant les espaces pour des lignes de même longueur.*/
}
@media (max-width: 251px) {
    body {
        padding: 10px;
    }
}
